.tile {
    outline: 2px solid;
}

.tile-hover {
    background-color : darkgray;
}

.tile-occupied {
    background-color: gray;
}

.tile-hidden-free {
    background-color: aqua;
}

.tile-hit {
    background-color: red;
}

.tile-revealed {
    background-color:azure;
}