.tile {
    outline: 2px solid;
}

.tile:hover {
    background-color: darkgray;
}
.tile-hover {
    background-color : darkgray;
}

.tile-occupied {
    background-color: gray;
}

.tile-occupied:hover {
    background-color: gray;
}

.tile-hidden-free {
    background-color: aqua;
}

.tile-hit {
    background-color: red;
}

.tile-hit:hover {
    background-color: red;
}

.tile-revealed {
    background-color:azure;
}

.tile-revealed:hover {
    background-color: azure;
}